
@{
    ViewBag.Title = "Index";
}

<h2>AJAX</h2>

@using (Html.BeginForm())
{
    @*@Html.TextBox("txtN", 0)*@
    <input type="number" id="txtN" placeholder="Ingrese el valor numérico" min="1" required />

    <button id="btnCalculate"> Calcular </button>
    <br />
    <div id="lblMessage"></div>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {

            $("#btnCalculate").on("click", function () {
                if ($('#txtN').val() >= 0) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("JsonFactorial")',
                        data: { n: $('#txtN').val() },
                        datatype: 'json',
                        cache: false,
                        success: (function(data) {
                            $("#lblMessage").html(data.Factorial);
                        }),
                        error: (function (xhr, ajaxOption, thrownError) {
                            $("#lblMessage").html("Ocurrió un error");
                        })
                    });
                }

                return false;
            });
        });
    </script>
}